# Luckyware Shield Ultra - Ortam Degiskenleri
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# C2 Threat Intelligence Feed URL'leri (virgul ile ayrilmis)
C2_FEED_URLS=https://raw.githubusercontent.com/p4n-dev/CG-Threat-Intelligence/refs/heads/main/c2_domains.txt,https://raw.githubusercontent.com/drb-ra/C2IntelFeeds/master/feeds/domainC2s-filter-abused.csv,https://raw.githubusercontent.com/drb-ra/C2IntelFeeds/master/feeds/domainC2swithURLwithIP.csv
